git+https://github.com/gaf3/python-relations.git@9078a31#egg=relations
git+https://github.com/gaf3/python-relations-sql.git@4fb00df#egg=relations-sql
git+https://github.com/gaf3/python-relations-sqlite.git@77cccdb#egg=relations-sqlite
ptvsd==4.3.2
coverage==5.2.1
pylint==2.5.3
